@import "src/css/quasar.variables";

.text-white {
  color: $white-color;
}

.text-black {
  color: $black-color;
}

.p-8 {
  padding: 8px;
}

.m-4 {
  margin: 4px;
}

.confirm-dialog {
  .confirm-message {
    margin: 5px 0 20px 0;
  }
  .text-confirm {
    font-size: 20px;
  }
  padding: 20px;
  min-width: 300px;
}
