<template>
  <q-layout>
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>{{pageTitle}} Movie</q-toolbar-title>
        <q-btn color="warning" class="m-4" @click="onCancel">
          Cancel
        </q-btn>
        <q-btn color="negative" class="m-4" @click="deleteConfirm = true">
          Delete
        </q-btn>
        <q-btn color="positive" class="m-4" @click="onSubmit">
          Save
        </q-btn>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <div class="my-20">
        <div class="q-pa-md">
          <q-form @submit="onSubmit">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 p-8">
                <q-input
                  outlined
                  v-model="title"
                  label="Title"
                ></q-input>
              </div>
              <div class="col-12 col-sm-12 col-md-6 p-8">
                <q-input
                  outlined
                  v-model="director"
                  label="Director"
                ></q-input>
              </div>
              <div class="col-12 col-sm-12 col-md-6 p-8">
                <q-input
                  outlined
                  v-model="summary"
                  type="textarea"
                  label="Summary"
                ></q-input>
              </div>
              <div class="col-12 col-sm-12 col-md-6 p-8">
                <q-chip :class="selectedGenre(item) ? 'text-white' : 'text-black'" :color="selectedGenre(item) ? 'primary': 'grey'" v-for="item in genresList" :key="item" clickable @click="onGenreSelected(item)">{{item}}</q-chip>
              </div>
            </div>
          </q-form>
          <q-dialog v-model="deleteConfirm" persistent>
            <q-card class="confirm-dialog text-center">
              <q-card-section class="text-center confirm-message">
                <span class="text-confirm">Delete this item?</span>
              </q-card-section>
              <q-card-actions align="center">
                <q-btn label="Cancel" color="primary" v-close-popup></q-btn>
                <q-btn label="Delete" color="negative" v-close-popup @click="onDelete"></q-btn>
              </q-card-actions>
            </q-card>
          </q-dialog>
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>

import {ref} from "vue";
import {movieStore} from "src/store/movie-store";

  export default {
    setup() {
      return {
        id: ref(null),
        pageTitle: ref('Create'),
        deleteConfirm: ref(false),
        movieData: ref(movieStore()),
        title: ref(''),
        director: ref(''),
        summary: ref(''),
        genres: ref([]),
        genresList: ref(['Drama','Action','Animation','Sci-Fi','Horror']),
      }
    },

    created() {
      this.onGetDetail();
    },

    methods: {
      onGetDetail() {
        let path = this.$route.path;
        if (String(path).includes('detail')) {
          this.pageTitle = 'Detail';
          let id = this.$route.params.id;
          let selectedMovie = this.movieData.movieList.find(item => item.id === Number(id));
          this.id = selectedMovie.id
          this.title = selectedMovie.title
          this.director = selectedMovie.director
          this.summary = selectedMovie.summary
          this.genres = selectedMovie.genres
        }
      },

      onSubmit() {
        let path = this.$route.path;
        let payload = {
          id : String(path).includes('detail') ? this.id : this.movieData.movieList.length > 0 ? this.movieData.movieList[this.movieData.movieList.length -1].id + 1 : 1,
          title: this.title,
          director: this.director,
          summary: this.summary,
          genres: this.genres
        }
        this.movieData.addItem(payload);
        this.$router.push({path: '/'})
      },

      onCancel() {
        this.$router.push({path: '/'})
      },

      onDelete() {
        this.movieData.deleteItem(this.id)
        this.$router.push({path: '/'})
      },

      selectedGenre(value) {
        return this.genres.includes(value);
      },

      onGenreSelected(value) {
        if (this.genres.indexOf(value) === -1) {
          this.genres.push(value);
        } else {
          let index = this.genres.indexOf(value);
          this.genres.splice(index, 1)
        }
      }
    }
  }
</script>

<style lang="scss">
@import "MovieDetailPage";
</style>
