// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #2C76CB;
$secondary : #26A69A;
$accent    : #9C27B0;

$grey      : #e0e0e0;
$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #8CC63E;
$negative  : #F43F5E;
$info      : #31CCEC;
$warning   : #F59E0B;

$white-color          : #FFFFFF;
$black-color          : #000000;
