<template>
  <q-layout class="movies-list">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          Movies Collection
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <div class="my-20">
        <div class="q-pa-md">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-4 offset-md-4">
              <q-input outlined bottom-slots v-model="search" @keyup="onSearch()" label="Search by title..." :dense="dense">
                <template v-slot:append>
                  <q-icon name="search"></q-icon>
                </template>
              </q-input>
            </div>
          </div>
        </div>
        <div class="q-pa-md row items-start">
          <div v-for="movie in filterMovieList" :key="movie.id" class="col-12 col-sm-6 col-md-3 margin-0 px-8">
            <q-card class="movie-card ripple" @click="onDetail(movie.id)">
              <q-card-section>
                <div class="text-h6">{{movie.title}}</div>
                <div class="text-subtitle1">{{movie.director}}</div>
              </q-card-section>
              <q-card-section class="text-right">
                <div class="column">
                  <div>
                    <span v-for="(genre, i) in movie.genres" :key="genre">
                      {{genre}}
                      <span v-if="movie.genres.length-1 !== i">&nbsp;/&nbsp;</span>
                    </span>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
    </q-page-container>
    <q-page-container v-if="windowWidth >= 1024">
      <div class="q-pa-md">
        <div class="column text-right">
          <div>
            <q-btn class="btn-add" color="primary" @click="addMovie">Add Movie</q-btn>
          </div>
        </div>
      </div>
    </q-page-container>
    <q-page-sticky v-if="windowWidth < 1024" position="bottom-right" :offset="[18, 18]">
      <q-btn color="primary" fab @click="addMovie">
        <q-icon name="add"></q-icon>
      </q-btn>
    </q-page-sticky>
  </q-layout>
</template>

<script>
  import {ref} from "vue";
  import {movieStore} from "src/store/movie-store";

  export default {
    setup () {
      return {
        search: ref(''),
        moviesStore: ref(movieStore()),
        moviesList: ref([]),
        filterMovieList: ref([]),
        dense: ref(false),
        windowWidth: window.innerWidth
      }
    },
    created() {
      this.getListMovies();
    },
    mounted() {
      this.$nextTick(() => {
        window.addEventListener('resize', this.onResize);
      })
    },
    beforeUnmount() {
      window.removeEventListener('resize', this.onResize);
    },
    methods: {
      getListMovies() {
        this.moviesList = this.moviesStore.movieList;
        this.filterMovieList = this.moviesList;
      },
      onResize() {
        this.windowWidth = window.innerWidth
      },

      onDetail(id) {
        this.$router.push({path: '/detail/' + id})
      },

      addMovie() {
        this.$router.push({path: '/create'})
      },

      onSearch() {
        this.filterMovieList = this.moviesList.filter(item => item.title.toLowerCase().includes(this.search.toLowerCase()));
      }
    }
  }
</script>

<style lang="scss">
  @import "MovieListPage";
</style>
