.movies-list {

  .movie-card {
    width: 100%;
    border-radius: 16px;
    cursor: pointer;
  }

  .btn-add {
    padding: 10px 20px;
    border-radius: 6px;
  }

  .margin-0 {
    margin: 0!important;
  }

  .px-8 {
    padding: 8px;

    @media screen and (max-width: 600px) {
      padding: 8px 0;
    }
  }

  .my-20 {
    margin: 20px 0;
  }

  //click animation
  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #e3e3e3 radial-gradient(circle, transparent 1%, #e3e3e3 1%) center/15000%;
  }
  .ripple:active {
    background-color: #f3f3f3;
    background-size: 100%;
    transition: background 0s;
  }
}
